// Container
.container {
  max-width: $max-width;
  position: relative;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  padding-top: 6rem;
  margin-bottom: 3rem;
}

// Text Styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.lean {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;

  &.danger {
    color: red;
  }
}

.text-primary {
  color: $primary-color;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }

  &-light {
    @include set-background($light-color);
    border: #ccc 1px solid;
  }

  &-dark {
    @include set-background($dark-color);
  }

  &-success {
    @include set-background($success-color);
  }

  &-danger {
    @include set-background($danger-color);
  }

  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}

// Buttons
.btn {
  display: inline-block;
  border-radius: 3px;
  background: $light-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;

  &.btn-primary {
    @include set-background($primary-color);

    &:hover {
      background: lighten($primary-color, 5%);
    }
  }

  &.btn-dark {
    @include set-background($dark-color);

    &:hover {
      background: lighten($dark-color, 5%);
    }
  }

  &.btn-success {
    @include set-background($success-color);

    &:hover {
      background: lighten($success-color, 5%);
    }
  }

  &.btn-danger {
    @include set-background($danger-color);

    &:hover {
      background: lighten($danger-color, 5%);
    }
  }

  &:hover {
    background: lighten($dark-color, 20%);
    color: #fff;
  }
}

// Alerts
.alert.box {
  @include dropIn();
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  .alert {
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 1rem auto;
    opacity: 0.9;
    background: $light-color;
    color: #333;
    font-weight: bold;

    &.alert-primary {
      @include set-background($primary-color);
    }

    &.alert-dark {
      @include set-background($dark-color);
    }

    &.alert-success {
      @include set-background($success-color);
    }

    &.alert-danger {
      @include set-background($danger-color);
    }
  }
}

// Badges
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: $light-color;
  color: #333;

  &.badge-primary {
    @include set-background($primary-color);
  }

  &.badge-dark {
    @include set-background($dark-color);
  }

  &.badge-success {
    @include set-background($success-color);
  }

  &.badge-danger {
    @include set-background($danger-color);
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.table {

  th,
  td {
    padding: 1rem;
    text-align: left;
    min-width: 128px;
  }

  th {
    background: $light-color;
    min-width: 128px;
  }
}

// Loader

html,
body {
  height: 100%;
}

#wrapper {
  position: relative;
  /*background:#333;*/
  height: 100%;
}

.profile-main-loader {
  left: 50% !important;
  margin-left: -100px;
  position: fixed !important;
  top: 50% !important;
  margin-top: -100px;
  width: 45px;
  z-index: 9000 !important;
}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height: 200px;
}

.profile-main-loader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes color {
  0% {
    stroke: $primary-color;
  }

  40% {
    stroke: $primary-color;
  }

  66% {
    stroke: $primary-color;
  }

  80%,
  90% {
    stroke: $primary-color;
  }
}

@keyframes color {
  0% {
    stroke: $primary-color;
  }

  40% {
    stroke: $primary-color;
  }

  66% {
    stroke: $primary-color;
  }

  80%,
  90% {
    stroke: $primary-color;
  }
}